<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Student page</h3>
    {% if stu  %}
    {{stu}}
    {% for st in stu %}  
    <br>
     {{st.stuid}}
     {{st.stuname}}
     {{st.stumail}}
     {{st.stupass}}
     {{st.stucmt}}
    {% endfor %}
    {% else %}
      <h3>no data</h3> 
    {% endif %}
</body>
</html>